# k8s-provisioner configuration
cluster:
  name: "k8s-lab"
  pod_cidr: "10.244.0.0/16"
  service_cidr: "10.96.0.0/12"

versions:
  kubernetes: "1.32"
  crio: "v1.32"
  calico: "3.28.0"
  metallb: "0.14.8"
  istio: "1.28.2"

network:
  interface: "eth1"
  controlplane_ip: "192.168.201.10"
  metallb_range: "192.168.201.200-192.168.201.250"

storage:
  nfs_server: "192.168.201.20"
  nfs_path: "/exports/k8s-volumes"

nodes:
  - name: "storage"
    ip: "192.168.201.20"
    role: "storage"
  - name: "controlplane"
    ip: "192.168.201.10"
    role: "controlplane"
  - name: "node01"
    ip: "192.168.201.11"
    role: "worker"
  - name: "node02"
    ip: "192.168.201.12"
    role: "worker"

components:
  cni: "calico"
  load_balancer: "metallb"
  service_mesh: "istio"